
/* main */
main > .section--left, .section__right{
    width: 20vw;
    height: 100vh;
}
.section--left{
    display: flex;
    flex-direction: column;

}

.section--left > div{
    margin: auto 3rem;
    width: 80%;
    height: 15rem;
}

.left--link{
    opacity: .99;
    border-radius: 0 25%;
    background-color: var(--color-text);
    background-repeat: no-repeat;
    width: 80%;
    height: 100%;
    display: inline-block;
    background-size: contain;
}

#a-1{
    background-size: contain;
    background-image: url(../imagen-style/Screenshot\ 2023-08-12\ 180012.png);

}
#a-2{
    background-size: contain;
    background-image: url(../imagen-style/Screenshot\ 2023-08-12\ 172749.png);

}
#a-3{
    background-size: contain;
    background-image: url(../imagen-style/Screenshot\ 2023-08-12\ 172715.png);

}

/* section center */
.section--center{
    width: 60%;
    height: 100vh;
    opacity: 0.8;
    text-align: center;
    display: flex;
    align-items: center;
    font-size: 1.8rem;
    background-color: var(--color-secundario, 0.5);


}

.section__img{
    margin: auto 1.5rem;
    border-radius: 0 25%;
    width: 50%;
    height: 50%;
}

.section--center > div{
    height: 50%;
    margin-top: 15rem;
}

.section__h2{
    font-size: 3.5rem;
}

/* section right */
.section__right{
    position: relative;
    font-size: 1.7rem;
    padding: 5rem 2rem;
    text-align: justify;
    font-weight: 500;
    text-align: center;

}

.section__right > p{
    margin-top: 2rem;
}
