

/* option main */

.container{
    width: 80%;
    height: 100%;
    opacity: 0.8;
    font-size: 1.7rem;
    margin: 0 auto;
    display: flex;
    position: relative;
}


.option{
    background-color:var(--color-secundario);
    padding: 2rem;
    width: 100%;
    height: 100%;
}

.option > .option__img, .option__text{
    width: 80%;
    height: 20rem;
    margin: 1rem;

}
/* style especifico */
#img1{
    background-image: url(../style-tartamientos/pexels-arvind-philomin-12148417\ \(1\).jpg);
    transition-duration: 800ms;

}

#img1:hover{
    background-image: url(../style-tartamientos/pexels-andrea-piacquadio-3779709.jpg);
}

#img2{
    background-image: url(../style-tartamientos/pexels-anna-avilova-5524021\ \(2\).jpg);
    transition-duration: 800ms;

}

#img2:hover{
    background-image: url(../style-tartamientos/pexels-cottonbro-studio-6528908.jpg);
}

#img3{
    background-image: url(../style-tartamientos/pexels-cottonbro-studio-6502305\ \(2\).jpg);
    transition-duration: 800ms;

}

#img3:hover{
    background-image: url(../style-tartamientos/pexels-emeric-kalil-7422519\ \(2\).jpg);
}

.option__img{
    border-radius: 0 25%;
    background-repeat: no-repeat;
    background-size: 100% 100%;

}

.option__text{
    padding: 1rem 3rem;
    border-radius: 25% 0;
    text-align: center;
    background-color: var(--color-primario);
    
}




/* style footer */
.footer{
    width: 100%;
    height: 15vh;
    position: relative;
    font-size: 1.5rem;
    display: flex;
    justify-content: center;
    background-color: var(--color-primario);
}

.footer__p{
    color: var(--color-text-main);
    width: 40%;
    margin: auto 15%;
}
